@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.main-index .frases p, .main-2 .generos ul li,
.main-2 .set-up ul li, .podcast .sub-grid .descripcion, .main-bio .bio .flex-bio .bio-text, .main-contacto .contact-main .form-flex .seccform p {
  color: #b1b1c5;
  text-align: center;
  font-size: 22px;
  font-family: font-texto; }

.main-shows .section-shows .shows p, .main-shows .section-shows .shows .lista-fechas .fechas {
  color: #b1b1c5;
  font-size: 22px;
  font-family: font-texto; }

/* navbar */
.header .navbar {
  background-image: linear-gradient(180deg, black, #353030); }

.header__logo {
  padding: 25px;
  color: #c0b7b7;
  text-decoration: none;
  font-size: 60px;
  transform: skew(354deg);
  animation-name: logo;
  animation-duration: 5s;
  animation-iteration-count: infinite; }
  .header__logo:hover {
    color: #ecf6fe;
    transition: .2s;
    transform: scale(1.12); }

.header__navegacion {
  display: flex;
  flex-wrap: inherit;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.header__barra {
  justify-content: flex-end; }
  .header__barra li {
    background-color: #8f8f8f;
    border-style: groove;
    list-style: none;
    margin: 9px;
    padding: 7px; }
    .header__barra li a {
      color: black;
      text-decoration: none; }
    .header__barra li:hover {
      background-color: #ecf6fe;
      transition: .2s;
      transform: scale(1.12);
      color: black; }
  .header__barra--active {
    font-weight: bolder; }

.header .navbar-toggler {
  background-color: #8f8f8f; }

@media (max-width: 1024px) {
  .header__logo {
    font-size: 45px;
    padding: 10px; } }

@media (max-width: 480px) {
  .header__logo {
    font-size: 30px;
    padding: 10px; }
  .navbar-toggler {
    padding: 0px; } }

/* footer */
.footer .pie {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-image: linear-gradient(0deg, black, #353030); }
  .footer .pie .derechos {
    display: flex; }
  .footer .pie .redes {
    display: flex; }

.parrafo {
  color: #b1b1c5; }

.footer i {
  color: white; }

.facebook,
.ig,
.soundcloud {
  font-size: 25px;
  list-style: none;
  padding: 10px; }

.derechos {
  padding-left: 5px; }

.facebook :hover {
  color: blue;
  transition: .2s;
  transform: scale(1.3); }

.ig :hover {
  color: #c531b3;
  transition: .2s;
  transform: scale(1.3); }

.soundcloud :hover {
  color: #f35b09;
  transition: .2s;
  transform: scale(1.3); }

@media (max-whidth: 480px) {
  .footer .pie {
    flex-direction: column;
    justify-content: center; } }

/*   main fotos y videos */
.main-index {
  background-color: #353030;
  padding-top: 1rem; }
  .main-index .vid {
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
    flex-wrap: wrap; }
  .main-index .vid video {
    max-width: 350px; }
  .main-index .frases {
    max-width: 70vw;
    margin: auto;
    padding-top: 3rem; }

/* generos y set up */
.main-2 {
  background-color: #353030; }
  .main-2 .div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
  .main-2 .generos,
  .main-2 .set-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    font-size: 20px; }
    .main-2 .generos h2,
    .main-2 .set-up h2 {
      font-family: "Open Sans", sans-serif;
      color: #ea8989;
      font-size: 40px;
      font-weight: 400; }
    .main-2 .generos ul li,
    .main-2 .set-up ul li {
      list-style: none; }

@media (max-width: 1024px) {
  .main-index .vid {
    display: none; }
  .main-index .frases p {
    font-size: 16px;
    margin: auto; }
  .main-2 .div .generos,
  .main-2 .div .set-up {
    margin-top: 30px; }
    .main-2 .div .generos ul li,
    .main-2 .div .set-up ul li {
      list-style: none;
      font-size: medium; } }

@media (max-width: 480px) {
  .main-index .frases {
    display: none; }
  .main-2 .div {
    display: flex;
    flex-direction: column;
    padding-top: 40px; }
    .main-2 .div .generos,
    .main-2 .div .set-up {
      margin-top: 10px; }
      .main-2 .div .generos h2,
      .main-2 .div .set-up h2 {
        color: #ea8989;
        font-size: 25px; }
    .main-2 .div .set-up {
      margin-top: 40px; }
  .main-2 .listgeneros,
  .main-2 .list-setup {
    padding: 2px; }
    .main-2 .listgeneros li,
    .main-2 .list-setup li {
      font-size: smaller; }
  .fa-solid,
  .parrafo {
    display: none; } }

/* dj sets */
.podcast {
  display: grid;
  grid-template-areas: "sub-grid sub-grid sub-grid sub-grid" "sets1 sets1 sets1 sets1";
  background-color: #353030; }
  .podcast .sub-grid {
    grid-area: sub-grid; }
    .podcast .sub-grid .sub-podcast {
      font-family: "Open Sans", sans-serif;
      color: #ea8989;
      font-size: 40px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 50px; }
    .podcast .sub-grid .descripcion {
      max-width: 70vw;
      padding-bottom: 4rem;
      margin: auto; }
  .podcast .sets1 {
    display: grid;
    justify-content: space-around;
    grid-area: sets1;
    grid-template-areas: "p1 p2 p3 p4" "p5 p6 p7 p8"; }
    .podcast .sets1 .p1 {
      grid-area: p1;
      margin-bottom: 2rem; }
    .podcast .sets1 .p2 {
      grid-area: p2;
      margin-bottom: 2rem; }
    .podcast .sets1 .p3 {
      grid-area: p3;
      margin-bottom: 2rem; }
    .podcast .sets1 .p4 {
      grid-area: p4;
      margin-bottom: 2rem; }
    .podcast .sets1 .p5 {
      grid-area: p5;
      margin-bottom: 2rem; }
    .podcast .sets1 .p6 {
      grid-area: p6;
      margin-bottom: 2rem; }
    .podcast .sets1 .p7 {
      grid-area: p7;
      margin-bottom: 2rem; }
    .podcast .sets1 .p8 {
      grid-area: p8;
      margin-bottom: 2rem; }
    .podcast .sets1 h5 {
      color: #9e6868e6;
      text-align: center; }
      .podcast .sets1 h5:hover {
        color: #ea8989; }
    .podcast .sets1 iframe {
      max-width: 250px;
      max-height: 300px;
      margin: 10px;
      -webkit-box-shadow: 0px 0px 0px -px #a3a3d6;
      -moz-box-shadow: 0px 0px 0px -8px #a3a3d6;
      box-shadow: 10px 10px 40px -8px #91919e; }
      .podcast .sets1 iframe:hover {
        filter: grayscale(70%);
        transition: .2s;
        transform: scale(1.12); }

@media (max-width: 1024px) {
  .podcast {
    display: grid;
    grid-template-areas: "sub-grid sub-grid sub-grid sub-grid" "sets1 sets1 sets1 sets1";
    background-color: #353030; }
    .podcast .sub-grid {
      grid-area: sub-grid; }
    .podcast .sets1 {
      display: grid;
      justify-content: space-around;
      grid-area: sets1;
      grid-template-areas: "p1 p2 " "p3 p4" "p5 p6" "p7 p8"; }
      .podcast .sets1 .p1 {
        grid-area: p1; }
      .podcast .sets1 .p2 {
        grid-area: p2; }
      .podcast .sets1 .p3 {
        grid-area: p3; }
      .podcast .sets1 .p4 {
        grid-area: p4; }
      .podcast .sets1 .p5 {
        grid-area: p5; }
      .podcast .sets1 .p6 {
        grid-area: p6; }
      .podcast .sets1 .p7 {
        grid-area: p7; }
      .podcast .sets1 .p8 {
        grid-area: p8; }
      .podcast .sets1 h5 {
        color: #b1b1c5;
        text-align: center; } }

@media (max-width: 480px) {
  .podcast {
    display: grid;
    grid-template-areas: "sub-grid sub-grid sub-grid sub-grid" "sets1 sets1 sets1 sets1";
    background-color: #353030; }
    .podcast .sub-grid {
      grid-area: sub-grid; }
    .podcast .sets1 {
      display: grid;
      justify-content: space-around;
      grid-area: sets1;
      grid-template-areas: "p1" "p2" "p3" "p4" "p5" "p6" "p7" "p8"; }
      .podcast .sets1 .p1 {
        grid-area: p1; }
      .podcast .sets1 .p2 {
        grid-area: p2; }
      .podcast .sets1 .p3 {
        grid-area: p3; }
      .podcast .sets1 .p4 {
        grid-area: p4; }
      .podcast .sets1 .p5 {
        grid-area: p5; }
      .podcast .sets1 .p6 {
        grid-area: p6; }
      .podcast .sets1 .p7 {
        grid-area: p7; }
      .podcast .sets1 .p8 {
        grid-area: p8; } }

/* proximos shows */
.main-shows {
  background-color: #353030; }
  .main-shows .section-shows {
    background-image: url(../../fotos-kyh/9FAEAE73-C4B5-4DF0-9DA1-9B4D6CDE81ED.JPG);
    background-color: #484747;
    background-blend-mode: soft-light;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    border-radius: 50px; }
    .main-shows .section-shows .shows {
      display: flex;
      flex-direction: column;
      padding-top: 30px;
      justify-content: flex-start;
      max-width: 57vw;
      text-align: center; }
      .main-shows .section-shows .shows .show-title {
        font-weight: 400;
        font-family: "Open Sans", sans-serif;
        color: #ea8989;
        font-size: 40px;
        margin-bottom: 20px; }
      .main-shows .section-shows .shows p {
        margin-bottom: 20px; }
      .main-shows .section-shows .shows .lista-fechas {
        padding: 0; }
        .main-shows .section-shows .shows .lista-fechas .fechas {
          list-style: none;
          margin-bottom: 20px; }

@media (max-width: 1024px) {
  .main-shows .section-shows {
    max-width: 90vw; }
    .main-shows .section-shows .shows {
      display: flex;
      flex-direction: column;
      max-width: none;
      text-align: center; } }

@media (max-width: 500px) {
  .main-shows .section-shows .shows {
    display: flex;
    flex-direction: column;
    max-width: none;
    text-align: center;
    max-width: 85vw; }
    .main-shows .section-shows .shows .show-title {
      font-size: 20px; }
    .main-shows .section-shows .shows p {
      font-size: 14px; }
    .main-shows .section-shows .shows .lista-fechas .fechas {
      font-size: 14px; } }

/* }biografia */
.main-bio {
  background-color: #353030; }
  .main-bio .bio {
    background-image: url("../fotos-kyh/shannes222.jpg");
    background-color: #484747;
    background-blend-mode: soft-light;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    border-radius: 50px; }
    .main-bio .bio .flex-bio {
      display: flex;
      flex-direction: column;
      max-width: 57vw;
      margin-left: 33vw; }
      .main-bio .bio .flex-bio .bio-title {
        font-family: "Open Sans", sans-serif;
        color: #ea8989;
        font-size: 40px;
        font-weight: 400;
        text-align: center;
        padding: 1rem; }

@media (max-width: 1024px) {
  .main-bio .bio {
    max-width: 90vw; }
    .main-bio .bio .flex-bio {
      margin: auto;
      max-width: auto;
      max-width: 90vw; }
      .main-bio .bio .flex-bio .bio-text {
        font-size: 18px; } }

@media (max-width: 480px) {
  .main-bio .bio .flex-bio .bio-title {
    font-size: 22px; }
  .main-bio .bio .flex-bio .bio-text {
    font-size: 16px; } }

/*  formulario de contacto */
.main-contacto .contact-main {
  background-color: #353030;
  grid-area: main;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .main-contacto .contact-main .form-flex {
    display: flex;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse; }
    .main-contacto .contact-main .form-flex .seccform {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .main-contacto .contact-main .form-flex .seccform .contrataciones {
        font-weight: 400;
        font-family: "Open Sans", sans-serif;
        color: #ea8989;
        font-size: 40px;
        color: #ea8989;
        text-transform: uppercase;
        margin-bottom: 2rem; }
      .main-contacto .contact-main .form-flex .seccform p {
        max-width: 50vw; }
      .main-contacto .contact-main .form-flex .seccform .formulario textarea {
        color: black;
        background-color: #8f8f8f;
        margin-top: 1rem;
        border-radius: 1rem;
        font-weight: bold;
        max-width: 402px;
        max-height: 256px;
        text-align: center; }
      .main-contacto .contact-main .form-flex .seccform .form {
        display: flex;
        flex-direction: column;
        align-items: center; }
      .main-contacto .contact-main .form-flex .seccform .relleno {
        background-color: #8f8f8f;
        border-radius: 8px;
        max-height: 30px;
        max-width: 200px;
        margin: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center; }
      .main-contacto .contact-main .form-flex .seccform .envio {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 1rem;
        justify-content: space-evenly;
        align-items: center; }
        .main-contacto .contact-main .form-flex .seccform .envio .check .checkbox {
          background-color: #353030; }
      .main-contacto .contact-main .form-flex .seccform .enviar {
        border-radius: 1rem;
        margin-left: 9rem;
        background-color: #8f8f8f;
        max-width: 6rem;
        align-items: center;
        padding: 8px; }
        .main-contacto .contact-main .form-flex .seccform .enviar :hover {
          background-color: white; }
    .main-contacto .contact-main .form-flex .fotoform {
      max-width: 400px; }
    .main-contacto .contact-main .form-flex .span {
      color: #b1b1c5;
      text-transform: capitalize; }

@media (max-width: 1024px) {
  .main-contacto .contact-main .form-flex {
    justify-content: center; }
    .main-contacto .contact-main .form-flex .fotoform {
      display: none; }
    .main-contacto .contact-main .form-flex .seccform p {
      max-width: 70vw; } }

@media (max-width: 480px) {
  .main-contacto .contact-main .form-flex .seccform .formulario textarea {
    color: black;
    background-color: #8f8f8f;
    margin-top: 1rem;
    border-radius: 1rem;
    font-weight: bolder;
    max-width: 200px;
    max-height: 200px; }
  .main-contacto .contact-main .form-flex .seccform p {
    max-width: 70vw; }
  .main-contacto .contact-main .form-flex .seccform .contrataciones {
    font-size: 25px; } }

/* Animaciones */
/*QUERYS MOBILE  */
/* QUERY TABLET */
