%estiloparrafo {

        color: $colorTexto;
        margin: auto;
        text-align: center;
        font-size: 22px;
        font-family: font-texto;

}%estiloparrafo2 {

        color: $colorTexto;
       
       
        font-size: 22px;
        font-family: font-texto;
}