/* }biografia */


.main-bio {
    background-color: #353030;

    .card-bio {
        margin: auto;
        .card-body{
            background-color: #353030;
            .card-title{
                font-weight: 700;
                color: $colorSubtitulo;
                text-align: center;
            }
            p{
                color: $colorTexto;
            }
        }
        
    }
}










