/* }biografia */


.main-bio {
    background-color: #353030;
  

    .bio {
        background-image: url(../../fotos-kyh/shannes222.jpg);
        background-color: #484747;
        background-blend-mode: soft-light;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 80vh;
        border-radius: 50px;

        .bio-title {
            font-family: $font-h2;
            color: $colorSubtitulo;
            font-size: 40px;
            font-weight: 400;
            text-align: center;
            padding: 1rem;
        }

        p {
            @extend %estiloparrafo;
        }
    }

}


@media (max-width: 1024px) {
    .main-bio {
        .card-bio {
            max-width: 400px;

        }
    }
}

@media (max-width :480px) {

    .main-bio {
        .card-bio {
            max-width: 280px;

            .card-body {
                p {
                    font-size: small;
                }
            }
        }
    }
}