/*  formulario de contacto */

.main-contacto {
    .contact-main {
        background-color: #353030;
        grid-area: main;
        padding-top: 3rem;
        padding-bottom: 3rem;

        .form-flex {
            display: flex;
            align-content: space-between;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: row-reverse;

            .seccform {
                display: flex;
                flex-direction: column;
                align-items: center;

                .contrataciones {
                    font-weight: 400;
                    font-family: $font-h2;
                    color: $colorSubtitulo;
                    font-size: 40px;
                    color: $colorSubtitulo;
                    text-transform: uppercase;
                    margin-bottom: 2rem;
                }

                p {
                    max-width: 50vw;
                    @extend %estiloparrafo;
                }

                .formulario {
                    textarea {
                        color: black;
                        background-color: #8f8f8f;
                        margin-top: 1rem;
                        border-radius: 1rem;
                        font-weight: bold;
                        max-width: 402px;
                        max-height: 256px;
                        text-align: center;

                        & :hover {
                            transition: .2s;
                            transform: scale(1.12);
                        }


                    }

                }

                .form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                }

                .relleno {
                    background-color: rgb(143, 143, 143);
                    border-radius: 8px;
                    max-height: 30px;
                    max-width: 200px;
                    margin: 1rem;

                    font-weight: 600;
                    text-align: center;

                    & :hover {
                        transition: .2s;
                        transform: scale(1.12);
                    }
                }



                .check {
                    margin-top: 10px;

                    .checkbox {
                        background-color: #353030;
                    }
                }


                .enviar {
                    @include btn-nav(rgb(143, 143, 143), groove, none);
                    margin-left: 80px;
                    padding: 7px;
                }
            }

            .fotoform {
                max-width: 400px;
            }


            .span {
                color: $colorTexto;
                text-transform: capitalize;
            }
        }

    }

}

@media (max-width: 1024px) {

    .main-contacto {
        .contact-main {
            .form-flex {
                justify-content: center;

                .fotoform {
                    display: none;
                }

                .seccform {
                    p {
                        max-width: 70vw;
                    }

                }
            }
        }
    }
}


@media (max-width: 480px) {
    .main-contacto {
        .contact-main {
            .form-flex {
                .seccform {
                    .contrataciones {
                        font-size: 25px;

                    }

                    p {
                        font-size: 16px;
                    }

                    .formulario {
                        textarea {
                            color: black;
                            background-color: rgb(143, 143, 143);
                            margin-top: 1rem;
                            border-radius: 1rem;
                            font-weight: 600;
                            max-width: 200px;
                            max-height: 200px;

                        }

                        .check {
                            .enviar {
                                margin-left: 0px;
                            }
                        }
                    }




                }
            }
        }
    }
}