/* dj sets */

.podcast {

    display: grid;
    grid-template-areas:
        "sub-grid sub-grid sub-grid sub-grid"
        "sets1 sets1 sets1 sets1";
    background-color: #353030;

    .sub-grid {
        grid-area: sub-grid;
    }

    .sub-podcast {
        font-size: 43px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        color: $colorSubtitulo;
        padding-bottom: 50px;

    }

    .sets1 {
        display: grid;
        justify-content: space-around;
        grid-area: sets1;
        grid-template-areas:
            "p1 p2 p3 p4"
            "p5 p6 p7 p8";

        .p1 {
            grid-area: p1;
        }

        .p2 {
            grid-area: p2;
        }

        .p3 {
            grid-area: p3;
        }

        .p4 {
            grid-area: p4;
        }

        .p5 {
            grid-area: p5;
        }

        .p6 {
            grid-area: p6;
        }

        .p7 {
            grid-area: p7;
        }

        .p8 {
            grid-area: p8;
        }
    }

}


iframe {
    max-width: 250px;
    max-height: 300px;
    margin: 10px;
}









@media (max-width: 1024px) {
    .podcast {

        display: grid;
        grid-template-areas:
            "sub-grid sub-grid sub-grid sub-grid"
            "sets1 sets1 sets1 sets1";
        background-color: #353030;

        .sub-grid {
            grid-area: sub-grid;
        }

        .sets1 {
            display: grid;
            justify-content: space-around;
            grid-area: sets1;
            grid-template-areas:
                "p1 p2 "
                "p3 p4"
                "p5 p6"
                "p7 p8";


            .p1 {
                grid-area: p1;
            }

            .p2 {
                grid-area: p2;
            }

            .p3 {
                grid-area: p3;
            }

            .p4 {
                grid-area: p4;
            }

            .p5 {
                grid-area: p5;
            }

            .p6 {
                grid-area: p6;
            }

            .p7 {
                grid-area: p7;
            }

            .p8 {
                grid-area: p8;
            }
        }
    }
}


@media (max-width :480px) {

    .podcast {

        display: grid;
        grid-template-areas:
            "sub-grid sub-grid sub-grid sub-grid"
            "sets1 sets1 sets1 sets1";
        background-color: #353030;

        .sub-grid {
            grid-area: sub-grid;
        }

        .sets1 {
            display: grid;
            justify-content: space-around;
            grid-area: sets1;
            grid-template-areas:
                "p1"
                "p2"
                "p3"
                "p4"
                "p5"
                "p6"
                "p7"
                "p8";


            .p1 {
                grid-area: p1;
            }

            .p2 {
                grid-area: p2;
            }

            .p3 {
                grid-area: p3;
            }

            .p4 {
                grid-area: p4;
            }

            .p5 {
                grid-area: p5;
            }

            .p6 {
                grid-area: p6;
            }

            .p7 {
                grid-area: p7;
            }

            .p8 {
                grid-area: p8;
            }
        }
    }

}