/* navbar */
.header {
    .navbar {
        background-image: linear-gradient(180deg, black, #353030)
    }

    //logo//
    &__logo {
        padding: 25px;
        color: $colorTitulos;
        text-decoration: none;
        font-size: 60px;
        transform: skew(354deg);
        animation-name: logo;
        animation-duration: 5s;
        animation-iteration-count: infinite;

        &:hover {
            color: rgb(236, 246, 254);
            transition: .2s;
            transform: scale(1.12);
        }
    }

    //nav//
    &__navegacion {
        display: flex;
        flex-wrap: inherit;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }


    &__barra {
        justify-content: flex-end;

        li {
            
            @include btn-nav(rgb(143, 143, 143), groove, none);
            margin: 9px;
            padding: 7px;

            a {
                color: rgb(0, 0, 0);
                text-decoration: none;



            }


            &:hover {
                background-color: rgb(236, 246, 254);
                transition: .2s;
                transform: scale(1.12);
                color: black;

            }

        }

        &--active {
            font-weight: bolder
        }


        //color hamburguesa//
    }

    .navbar-toggler {
        background-color: #8f8f8f;
    }




}


@media (max-width: 1024px) {

    .header {
        &__logo {
            font-size: 45px;
            padding: 10px;
        }
    }


}


@media (max-width: 480px) {



    .header {
        &__logo {
            font-size: 30px;
            padding: 10px;
        }
    }

    .navbar-toggler {

        padding: 0px;
    }


}
