/*   main fotos y videos */
.main-index {
    background-color: #353030;

    .img,
    .vid {
        display: flex;
        justify-content: space-around;
        padding-top: 3rem;
        flex-wrap: wrap;
    }


    .img {
        img {
            max-width: 350px;
        }

    }

    .vid {
        video {
            max-width: 350px;
        }
    }

    .frases {
        max-width: 70vw;
        margin: auto;
        padding-top: 3rem;

        p {
            @extend %estiloparrafo;
            
        }
    }

}






/* generos y set up */
.main-2 {
    background-color: #353030;

    .div {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .generos,
    .set-up {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
        font-size: 20px;

        h2 {
            font-family: $font-h2;
            color: $colorSubtitulo;
            font-size: 40px;
            font-weight: 400;
            
        }

        ul {
            li {
                list-style: none;
                color: $colorTexto;
                padding: 5px;
            }
        }

        .listgeneros,
        .list-setup {
            padding: 25px;
        }

    }


}

@media (max-width:1024px) {

    .main-index {
        .img {
            img {
                max-width: 220px;
                padding-bottom: 2rem;
            }
        }

        .vid {
            display: none;
        }

        .frases {

            p {

                font-size: 16px;
            }
        }

    }
}

@media (max-width: 480px) {



    .main-index {
        .frases {
            p {

                font-size: small;
            }
        }

    }

    .main-2 {
        .div {
            display: flex;
            flex-direction: column;

            .generos,
            .set-up {
                h2 {
                    color: white;
                    font-size: 25px;
                }


            }
        }

        .listgeneros,
        .list-setup {
            padding: 2px;
        }


    }

    .fa-solid,
    .parrafo {
        display: none;

    }

}