/* proximos shows */

.main-shows {
    background-color: #353030;

    .section-shows {
        justify-content: center;

        padding-top: 3rem;

        .card {
            text-align: center;

            .card-title {
                font-weight: 700;
                color: white;
            }

            .proxlist {
                li {
                    color: white;
                }
            }
        }
        
    }
}