/* proximos shows */



/* contenido shows */
.section-shows {
    justify-content: center;
    background-color: #353030;
    padding-top: 3rem;
}

.card {
    margin: 0 auto;


    align-items: center;

}

.card-title {
    font-weight: 700;
    color: white;
}

.proxlist li {
    color: white;
}
