/* proximos shows */


.main-shows {
    background-color: #353030;


    .section-shows {

        background-image: url(../../fotos-kyh/9FAEAE73-C4B5-4DF0-9DA1-9B4D6CDE81ED.JPG);
        background-color: #484747;
        background-blend-mode: soft-light;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 89vh;
        border-radius: 50px;

        .shows {
            display: flex;
            flex-direction: column;
            padding: 3rem;
            justify-content: flex-start;
            max-width: 42vw;
            text-align: center;

            .show-title {
                font-weight: 400;
                font-family: $font-h2;
                color: $colorSubtitulo;
                font-size: 40px;
            }

        }


        p {
            @extend %estiloparrafo2;
            width: 420px;

        }

        .lista-fechas {
            .fechas {
                margin: 1rem;
                list-style: none;
                @extend %estiloparrafo2;

            }
        }
    }

}


@media (max-width: 1024px) {
    .main-shows {
        .section-shows {
            .card {
                max-width: 265px;
                text-align: center;
            }
        }
    }
}

@media (max-width :480px) {
    .main-shows {
        .section-shows {
            .card {
                max-width: 240px;
                text-align: center;
            }
        }
    }
}